@import 'reset';
@import 'vars';
@import 'header';
@import 'footer';
@import 'page-404';
@import 'modal';

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  font-size: 18px;
  color: $black;
}

textarea {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $black;
}

.layout {
  padding-top: 160px;
  &.default {
    background-color: $gray-light;
  }
}

* {
  outline: none;
  box-sizing: border-box;
}

.h3 {
  font-size: 24px;
}

.btn-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  color: #ffffff;
  transition: all .25s ease;
  height: 48px;
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  &:hover {
    background-color: $red;
  }
}

.btn-transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: all .25s ease;
  border: 1px solid $black;
  height: 48px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  &:hover {
    border: 1px solid $red;
    color: $red;
  }
}

.container {
  position: relative;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.home-slider {
  .carousel-cell {
    padding: 24px 30px 30px 30px;
    width: 37%;
    min-height: 260px;
    border-radius: 8px;
    background-color: #ffffff;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .read-more {
      transition: all .25s ease;
    }
    &:hover {
      .read-more {
        color: $red;
      }
    }
  }
}



.home-list {
  padding: 80px 0;
  .controls {
    text-align: center;
    margin-bottom: 40px;
    .control {
      padding: 4px 16px;
      background-color: transparent;
      cursor: pointer;
      transition: color .25s ease;
      font-size: 18px;
      border-radius: 16px;
      border: 1px solid transparent;
      &:hover {
        color: $red;
      }
      &.active {
        border: 1px solid $black;
        &:hover {
          color: $black;
        }
      }
    }
  }
  .lines {
    .line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;
      border-bottom: 1px solid $black;
      font-size: 24px;
      cursor: pointer;
      &:first-of-type {
        border-top: 1px solid $black;
      }
      &:hover {
        .arrow-right {
          path {
            fill: $red;
          }
        }
      }
    }
  }
  .tiles {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 -15px;
    .tile {
      width: 25%;
      margin-bottom: 25px;
      padding: 0 15px;
      .tile-wrapper {
        position: relative;
        height: 100%;
        border-radius: 2px;
        padding-bottom: 35px;
        background-color: #ffffff;
        cursor: pointer;
        &:hover {
          .arrow-right {
            path {
              fill: $red;
            }
          }
        }
        img {
          width: 100%;
        }
        .title {
          margin-top: 12px;
          padding: 0 15px;
        }
        .arrow-right {
          position: absolute;
          width: 24px;
          height: 24px;
          right: 16px;
          bottom: 10px;
        }
      }
    }
}
  .load-more {
    margin-top: 40px;
  }
}

.load-more {
  text-align: center;
  cursor: pointer;
  &:hover {
    color: $red;
  }
}

.arrow-right {
  flex-shrink: 0;
  path {
    transition: fill .25s ease;
  }
}
.add-post {
  padding-bottom: 170px;
}

.form {
  max-width: 375px;
  margin: 0 auto;
  .h3 {
    position: relative;
    margin-bottom: 40px;
    text-align: center;
    .arrow-left {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      cursor: pointer;
      &:hover {
        path {
          fill: $red;
        }
      }
    }
  }
  .input-wrapper {
    margin-bottom: 25px;
    .error {
      font-size: 14px;
      color: $red;
    }
  }
  .input {
    width: 100%;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid transparent;
    min-height: 48px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 400;
    &.text {
      height: 144px;
      resize: none;
    }
    &:focus {
      border: 1px solid $black;
    }
  }
  .form-footer {
    display: flex;
    .btn-dark {
      margin-right: 25px;
    }
  }
  .form-submitted {
    text-align: center;
    color: green;
    margin-top: 40px;
  }
}

@media (max-width: 991px) {
  .home-list {
    .tiles {
      .tile {
        width: 50%;
      }
    }
  }
}

@media (max-width: 767px) {
  .layout {
    padding-top: 100px;
  }
  .container {
    padding: 0 20px;
  }
  .h3 {
    font-size: 20px;
  }
  .home-slider {
    .carousel-cell {
      padding: 20px;
      width: 100%;
      min-height: 260px;
      border-radius: 4px;
      .title {
        font-size: 20px;
      }
    }
  }
  .home-list {
    padding: 40px 0;
    .lines {
      .line {
        font-size: 20px;
        .arrow-right {
          width: 24px;
          height: 24px;
        }
      }
    }
    .tiles {
      .tile {
        width: 100%;
      }
    }
  }
}
